<div id="locationField">
  {{view 'my-input' inputDidChange=nameDidChange}}
  <button type="submit" {{action 'searchPlaces'}}> Go </button>
</div>

<table id="address">
  <tr>
    <td class="label">Street address</td>
    <td class="slimField">
      <input class="field" id="street_number" disabled="true">
    </td>
    <td class="wideField" colspan="2">
      <input class="field" id="route" disabled="true">
    </td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td class="wideField" colspan="3">
      <input class="field" id="locality" disabled="true">
    </td>
  </tr>
</table>


{{yield}}
