# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
node_modules/
bower_components/

# misc
docs
lib/*/tests/all.js
lib/*/tests/qunit*
lib/bundler/man
pkg
rdoc
spade-boot.js
spec/reports
test/tmp
test/version_tmp
test_*.html
/tests/ember-tests.js
tmp
tmp*.gem
tmp.bpm
tmp.spade
tests/source
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.bundle
.config
.bowerrc
.ember-cli
*.bpkg
*.gem
*.rbc
.DS_Store

npm-debug.log
_posts
_site
common-tmp
*.tgz
docs/build
.node_modules-tmp
.bower_components-tmp
coverage

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
