<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 box search text-center">
      <div class="search-inner text-center">
        <div class="h3" style="margin-top:0px;">Search with Google Places</div>

        <form id="search-form" class="form-group">
          {{view 'location-input' id="location" value=location latLng=latLng classNames="form-control input-lg col-sm-12 row-space-1 " placeholder="What's your location?"}}
          {{input type="text" id="latLng" class="hidden" value=latLng}}
          {{#unless showKeywordSearch}}
            <div class="text-warning">Please select a location from the autocomplete dropdown.</div>
          {{/unless}}
          {{#if showKeywordSearch}}
            {{input type="text" id="keyword" value=keyword class="form-control input-lg col-sm-12 row-space-1" placeholder="What are you looking for?"}}
          {{/if}}
        </form>

      </div>
    </div>
  </div>
  <div class="row row-space-top-2">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      {{places-search query=searchTerm latLng=latLng class="fade-in"}}
    </div>
  </div>

</div>
